* {
    font-size: 12px;
    /*font-family:serif;*/

    /*font-family:serif,monospace,cursive,fantasy,sans-serif;*/
}


h1{
    font-size: 20px;
}

html, body {
    border: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.pre {
    white-space: pre-line;
    word-break:break-all;
    word-wrap:break-word;
}


div {
    padding: 0;
    margin: 0;
}

form {
    margin: 0;
    padding: 0;
}

.form{
    padding:10px;    
}

a.disabled {
    color: silver;
}

/*设置未访问过的连接属性*/
a:link {
    text-decoration: none;
    color: steelblue;
    font-size: 12px;
    cursor: pointer;
}

/*设置访问过的连接属性*/
a:visited {
    text-decoration: none;
    color: steelblue;
    font-size: 12px;
    cursor: pointer;

}

/*鼠标悬停时*/
a:hover {
    /*text-decoration: underline;*/
    color: red;
    font-size: 12px;
    cursor: pointer;
}

/*鼠标点击释放之间时*/
a:active {
    text-decoration: none;
    color: purple;
    font-size: 12px;
    cursor: pointer;

}

ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/*
li{
	list-style-type: none;
}
*/

br {
    line-height: 10px;

}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

.nobr {
    word-break: keep-all;
    white-space: nowrap;
}

/*.noScroll{*/
    /*overflow: hidden;*/
/*}*/

.menu-nav {
    /*border: 1px solid #99bbe8;*/
    border: 1px solid #3F3F3F;
    /*line-height: 23px;*/
    /*padding-left: 5px;*/
    /*background: #fafafa url(../ui/jquery-easyui-1.3.2/themes/default/images/panel_title) repeat-x left;*/

    background-color: #E0ECFF;
    background: -webkit-linear-gradient(top,#EFF5FF 0,#E0ECFF 100%);
    background: -moz-linear-gradient(top,#EFF5FF 0,#E0ECFF 100%);
    background: -o-linear-gradient(top,#EFF5FF 0,#E0ECFF 100%);
    background: linear-gradient(to bottom,#EFF5FF 0,#E0ECFF 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFF5FF,endColorstr=#E0ECFF,GradientType=0);
}

.ellipsis {
    width:200px;
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    /*-o-text-overflow: ellipsis;*/
    /*-moz-text-overflow: ellipsis; *//* for Firefox,mozilla */
    /*-moz-binding: url("ellipsis.xml#ellipsis");*/
    overflow: hidden;
}

.textarea {
    border: 1px solid #A4BED4;
    background: #FFFFFF ;
    font-size: 12px;
    vertical-align:middle;
    overflow:auto;
    line-height: 20px;
    padding: 0;
}

.select {
    font-size: 12px;
    vertical-align:middle;
    height:20px;
}

.input {
    border: 1px solid #A4BED4;
    font-size: 12px;
    line-height: 20px;
    height: 20px;
    padding: 0;
}

.input.readonly{
    color: #AAAAAA;
}

.input.span{
    border: none;
    width: 100%
}

.checkbox{
    vertical-align: middle;
}

.file{

    height: 22px;
    line-height: 22px;
    padding:0;

}

.table {
    border:none;
    /*table-layout: fixed;*/
    border-spacing:0;
}

.table .th {
    border:none;
    text-align: right;
    padding: 2px;
    /*white-space: nowrap;*/
    /*font-weight: bolder;*/
    /*padding:2px 4px 2px 2px;*/
    line-height:20px;
}

.table .td {
    border:none;
    /*padding:2px 4px 2px 2px;*/
    padding: 2px;
    line-height:20px;
}
.required {
    color: red;
    padding: 0 2px;
}

.table-border {
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: none;
    border-left: none;
    border-spacing: 0;
    /*table-layout: fixed;*/
    border-collapse: collapse;
}

.table-border td{
    padding:0;
    margin:0;
}

.table-border .th {
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #CCCCCC;;
    border-left:  1px solid #CCCCCC;;
    /*font-weight: bolder;*/
    padding: 2px 4px 2px 2px;
    line-height: 22px;
    text-align: right;
	background-color: #EFEFEF;
}

.table-border .td {
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #CCCCCC;;
    border-left:  1px solid #CCCCCC;;
    /*font-weight: normal;*/
    padding: 2px 4px 2px 2px;
    line-height: 22px;
}

.table-border thead .th{
    word-break: keep-all;
    white-space: nowrap;
    text-align: left;
    /*font-weight: bolder;*/
}

.table-dotted {
    border-collapse: collapse;
}

.table-dotted thead .th {
    border: 1px dotted #99bbe8;
    background-color:#EBF3FD;
    border-spacing: 1px;
    text-align: center;
    font-weight: bolder;
    white-space: nowrap;
    padding: 2px;
    line-height:22px;
}

.table-dotted thead .td {
    border: 1px dotted #99bbe8;
    background-color:#EBF3FD;
    border-spacing: 1px;
    text-align: center;
    font-weight: normal;
    white-space: nowrap;
    padding: 2px;
    line-height:22px;
}

.table-dotted tbody .th {
    border: 1px dotted #99bbe8;
    background-color:#EBF3FD;
    border-spacing: 1px;
    text-align: center;
    font-weight: normal;
    white-space: nowrap;
    padding: 2px;
    line-height:22px;
}

.table-dotted tbody .td {
    border: 1px dotted #99bbe8;
    border-spacing: 1px;
    text-align: center;
    padding: 2px;
    line-height:22px;
}

.table-dotted tfoot .th {
    border: 1px dotted #99bbe8;
    background-color:#EBF3FD;
    border-spacing: 1px;
    text-align: right;
    font-weight: normal;
    white-space: nowrap;
    padding: 2px;
    line-height:22px;
}

.table-dotted tfoot .td {
    border: 1px dotted #99bbe8;
    border-spacing: 1px;
    text-align: left;
    padding: 2px;
    line-height:22px;
}


.fieldset {
    padding: 0 5px 5px;
    border: 1px solid #CCCCCC;
}

.fieldset .legend {
    /*border: 1px solid #D3D3D3;*/
    /*background-color: #d3d3d3;*/
    font-weight: bolder;
    font-size:12px;
    padding: 2px 10px;
    /*margin-left: 5px;*/
    /*color:white;*/
}

/*
.load-mask{
	position:absolute;
	left:0;
	top:0;
	background:#ccc;
	opacity:0.3;
	filter:alpha(opacity=30);
	display:none;
    z-index: 1000;

}
.load-mask-msg{
	position:absolute;
	cursor:wait;
	left:100px;
	top:50px;
	width:auto;
	height:16px;
	padding:12px 5px 10px 30px;
	background:#fff url('../ui/jquery-easyui-1.3.2/themes/default/images/loading.gif') no-repeat scroll 5px 10px;
	border:2px solid #6593CF;
	color:#222;
	display:none;
    z-index: 1001;
}
*/

.toolbar {
    background: none repeat scroll 0 0 #F4F4F4;
    border-style: solid;
    border-width: 0 0 1px;
    height: auto;
    padding: 1px 2px;
}

.href{
    color: steelblue;
    cursor: pointer;
}

.href-hover{
    color: red;
    cursor: pointer;
}

.needFill{
    color: red;
}



/*.table {*/
    /*border: none;*/
    /*border-spacing: 0;*/
    /*table-layout: fixed;*/
    /*border-collapse: collapse;*/
/*}*/

/*.table td{*/
    /*padding:5px;*/
    /*margin:0;*/
/*}*/

/*.table .th {*/
    /*border: none;*/
    /*font-weight: bolder;*/
    /*padding: 2px 4px 2px 2px;*/
    /*line-height: 22px;*/
    /*text-align: right;*/
/*}*/

/*.table .td {*/
    /*border: none;*/
    /*font-weight: normal;*/
    /*padding: 2px 4px 2px 2px;*/
    /*line-height: 22px;*/
/*}*/

/*.table thead .th{*/
    /*word-break: keep-all;*/
    /*white-space: nowrap;*/
    /*text-align: left;*/
    /*font-weight: bolder;*/
/*}*/

